.dashboard-container {
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

@media (min-width: 768px) {
  .dashboard-container {
    flex-direction: row;
  }
}

.small {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
  /* height: calc(100vh - 100px); */
  /* display: grid; */
  /* grid-template-areas: */
  /*   "title" */
  /*   "main" */
  /*   "footer"; */
  /* grid-template-columns: 1fr; */
  /* grid-template-rows: 50px 1fr 60px; */
}

.big {
  display: none;
}

@media (min-width: 768px) {
  .small {
    display: none;
  }
  .big {
    display: flex;
    height: 100vh;
    /* align-items: stretch; */
    overflow-y: hidden;
  }

  .big .grid {
    /* width: calc(100vw - 20vw); */
    /* flex: 1 0 0; */
    display: grid;
    grid-template-areas:
      "title title title"
      "notes main right";
    /* grid-template-columns: 250px 1fr 200px; */
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 70px auto;
  }
}

.main {
  grid-area: main;
}

.settings {
  display: none;
}

@media (min-width: 768px) {
  /* .settings { */
  /*   display: block; */
  /* } */

  /* .search { */
  /*   background-color: moccasin; */
  /*   border-radius: 0.5em; */
  /*   width: 100%; */
  /*   padding: 1em; */
  /* } */
}

@media (min-width: 768px) {
  .view {
    display: none;
  }
}
