.dashboard-container {
  display: block;
  color: white;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .dashboard-container {
    flex-direction: row;
  }
}

.sidebar {
  /* background-color: red; */
  grid-area: sidebar;
  display: none;
  height: 100px;
  border-right: 1px solid var(--sidebar-foreground);
}

@media (min-width: 768px) {
  .sidebar {
    display: block;
    width: 200px;
    min-height: 100vh;
  }
}

.small {
  width: 100vw;
  height: calc(100vh - 100px);
  /* display: grid; */
  /* grid-template-areas: */
  /*   "title" */
  /*   "main" */
  /*   "footer"; */
  /* grid-template-columns: 1fr; */
  /* grid-template-rows: 50px 1fr 60px; */
}

.big {
  display: none;
}

@media (min-width: 768px) {
  .small {
    display: none;
  }
  .big {
    display: flex;
  }
  .big .grid {
    width: calc(100vw - 200px);
    height: 100vh;
    display: grid;
    grid-template-areas:
      "title title title"
      "notes main right";
    grid-template-columns: 250px 1fr 200px;
    grid-template-rows: 70px auto;
  }
}

.main {
  grid-area: main;
}

.search-form {
  width: 100%;
}
.settings {
  display: none;
}

.search {
  background-color: moccasin;
  border-radius: 0.5em;
  width: 100%;
  padding: 1em;
  /* margin-left: 3em; */
}

.search-info {
  display: block;
  font: 4rem;
  color: black;
}

@media (min-width: 768px) {
  .settings {
    display: block;
  }
  .search-form {
    width: 60%;
    margin-left: 3rem;
    display: flex;
    justify-self: flex-end;
    align-items: center;
    gap: 1em;
    /* justify-content: space-between; */
  }
  .search-form form {
    width: 70%;
    margin-left: 8em;
  }
  /* .search { */
  /*   background-color: moccasin; */
  /*   border-radius: 0.5em; */
  /*   width: 100%; */
  /*   padding: 1em; */
  /* } */
  .search-info {
    display: none;
  }
}
.notes {
  display: block; /* For now */
  grid-area: main;
}

.note {
  width: 100%;
  color: black;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid black;
}

.note:hover {
  background-color: mistyrose;
}

.tags-section {
  padding: 0.8em;
}

.tags-section span {
  width: fit-content;
  padding: 0.2em 0.3em;
  font-size: 0.9rem;
  background-color: var(--secondary);
  margin-left: 0.3em;
  border-radius: 0.5em;
}

.date {
  font-size: 0.9rem;
}
.note h4 {
  font-weight: 600;
}
.new-note-btn {
  display: none;
}
.create-note {
  background-color: yellow;
  grid-area: footer;
}
.note-actions {
  display: block;
}

@media (min-width: 768px) {
  .notes {
    grid-area: notes;
    /* display: block; */
    /* height: 200px; */
    background-color: white;
    border-right: 1px solid black;
  }

  .create-note {
    /* height: 200px; */
    display: block;
    grid-area: main;
    border-left: 1px solid black;
  }

  .note-actions {
    display: block;
    background-color: white;
    color: black;
  }
  .note-list-container {
    padding: 0.5em;
  }
  .new-note-btn {
    display: flex;
    align-items: center;
    padding: 0.5em;
    background-color: var(--blue-500);
    color: white;
    width: 100%;
    border-radius: 0.5em;
  }

  .new-note-btn span {
    margin-left: 0.5em;
  }
  .notes-list {
    margin-top: 1em;
  }
  /* For now */

  .note {
    width: 100%;
    color: black;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid black;
  }
  .note h4 {
    font-weight: 600;
  }
  .tags-section {
    padding: 0.8em;
  }
  .date {
    font-size: 0.9rem;
  }
  .tags-section span {
    width: fit-content;
    padding: 0.2em 0.3em;
    font-size: 0.9rem;
    background-color: var(--secondary);
    margin-left: 0.3em;
    border-radius: 0.5em;
  }
  .create-note {
    background: white;
    padding: 0.5em;
  }
  .title {
    padding: 0.5em;
    font-size: 1.5rem;
  }
  .title:focus {
    border-bottom: 1px solid black;
  }
  .form-divider {
    padding-bottom: 0.5em;
    border-bottom: 1px solid black;
  }
  .note-inputs {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 3rem;
    /* justify-content: space-between; */
  }
  .note-inputs input {
    width: 100%;
    background-color: rosybrown;
    padding: 0.5em;
    font-size: 1rem;
    border: 1px solid black;
  }
  .note-inputs input:focus {
    background-color: red;
  }
  .left-text {
    color: black;
  }
  .left-text span {
    display: block;
  }
  .left {
    display: flex;
    gap: 0.5em;
  }
  .right {
    flex: 1;
  }
  .content {
    height: 20em;
  }

  .note-buttons {
    padding: 0.5em;
    margin-top: 0.5em;
    border-top: 1px solid black;
  }
  .save {
    padding: 0.5em 1.3rem;
    font-size: 1.2rem;
    border-radius: 0.5em;
    margin-right: 1.5em;
    color: white;
    background-color: var(--blue-500);
    cursor: pointer;
  }
  .cancel {
    padding: 0.5em 1.3rem;
    font-size: 1.2rem;
    border-radius: 0.5em;
    margin-right: 1.5em;
    color: black;
    cursor: pointer;
  }
  .action-button {
    display: block;
    margin: 0.5em 0 1em 0;
    width: 90%;
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: 0.5em;
    border: 1px solid black;
    color: white;
  }
}

.menu-links {
  margin: 0.5em;
  padding-bottom: 1em;
  border-bottom: 1px solid var(--sidebar-foreground);
}

.sidebar-button {
  width: 100%;
  /* display: block; */
  display: flex;

  justify-content: space-between;
  align-items: center;
  padding: 0.4em;
  margin-top: 0.5em;
  border-radius: 0.5em;
  cursor: pointer;
}

.tags {
  color: black;
  padding: 0.5em;
  margin-bottom: 1px solid black;
  /* margin-bottom: 10px solid red; */
}

.tags-heading {
  color: var(--secondary);
  margin-bottom: 1em;
  /* display: none; */
}
.tag {
  display: flex;
  display: block;
  align-items: center;
  margin: 0.5em;
  cursor: pointer;
  padding: 0.9em;
  font: 1.2rem;
  gap: 0.5em;
  border-bottom: 1px solid black;

  /* padding: 0.5em; */
}
.tag:hover {
  background-color: moccasin;
}
.tag-text {
  margin-right: 0.5em;
}

@media (min-width: 768px) {
  .tag {
    padding: 0.5em;
    font: 0.9rem;
    gap: 0.5em;
    border-bottom: none;

    /* padding: 0.5em; */
  }
  .tag:hover {
    background-color: transparent;
  }
}
