.folder img {
  width: 24px;
  height: 24px;
}

.empty-folder-message {
  color: var(--neutral-600);
  background-color: var(--neutral-200);
  border-radius: 0.375rem;
  padding: 0.5rem 0.75rem;
  color: var(--neutral-700);
  display: inline-block;
  margin-top: 0.5rem;
}

.folder-list {
  padding-bottom: 3.5rem;
}
