.logo-container {
  background-color: var(--neutral-200);
  width: 100%;
  padding: var(--padding-md) var(--padding-lg);
  display: grid;
  align-items: center;
}

.logo {
  width: 200px;
  height: 50px;
  background-image: url(../assets/images/logo.svg);
  background-size: contain;
  background-size: 45%;
  background-position: left center;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .logo-container {
    background-color: transparent;
  }
}
