.modal-backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  width: 80vw;
  max-width: 450px;
  background-color: white;
  z-index: 2000;
  border-radius: 0.5em;
  padding: var(--padding-md) 0;
  display: flex;
  flex-direction: column;
}

.modal-content {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  padding-bottom: var(--padding-md);
  border-bottom: 1px solid var(--neutral-300);
}

.modal-content img {
  width: 40px;
  height: 40px;
  margin-left: 0.5em;
  flex-shrink: 0;
}

.modal-text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: black;
}

.modal-cancel {
  background-color: var(--neutral-500);
  color: white;
}

.modal-confirm {
  background-color: var(--blue-500);
  color: white;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  margin-top: 1rem;
  padding: var(--padding-sm);
}

.modal-button {
  width: 100px;
  max-width: 120px;
  padding: 0.8em var(--padding-sm);
  border-radius: 0.5em;
  cursor: pointer;
  border: none;
  font-size: 0.9rem;
}

.modal-cancel {
  background-color: var(--neutral-500);
  color: white;
}

.modal-confirm {
  background-color: var(--blue-500);
  color: white;
}

.modal-text h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--neutral-900);
}
.modal-text p {
  max-width: 23rem;
}

.modal-danger-button {
  background-color: red;
}
