.navbar {
  width: 100%;
  /* background-color: red; */
  height: 10vw;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: var(--padding-2xl) var(--padding-md);
  border-top: 1px solid var(--neutral-200);
  display: flex;
  align-items: center;
}

.nav-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 768px) {
  .footer {
    display: none;
  }
}
