.create-note {
  height: 100vh;
  padding: var(--padding-md);
  color: var(--neutral-400);
  border-right: 1px solid var(--neutral-300);
}

.title {
  padding: var(--padding-sm) var(--padding-md);
  padding-bottom: 0.2em;
  background-color: transparent;
  font-size: 1.5rem;
  margin-bottom: 0.5em;
}

.title:focus {
  border-bottom: 1px solid var(--neutral-300);
}

.form-divider {
  padding: var(--padding-md) 0;
  border-bottom: 1px solid var(--neutral-300);
  padding-bottom: 1rem;
}

.note-inputs {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-bottom: 0.5em;
}

.note-inputs input {
  width: 100%;
  background-color: transparent;
  padding: var(--padding-sm);
  font-size: 0.8rem;
  border: none;
}

.note-inputs .tags-input:focus {
  border-bottom: 1px solid var(--neutral-300);
}

.date-input {
  pointer-events: none;
  color: var(--neutral-500);
}

.left-text span {
  display: block;
}

.left {
  display: flex;
  gap: 0.5em;
  min-width: 70px;
}

.right {
  flex: 1;
}

.note-content {
  width: 100%;
  min-height: 300px;
  padding: var(--padding-sm);
  font-size: 1rem;
  font-family: inherit;
  line-height: 1.5;
  resize: none;
  margin: 1em 0;
  background-color: transparent;
}

.note-content:focus {
  border: 1px solid var(--neutral-300);
  border-radius: 0.5rem;
}

.note-buttons {
  padding: var(--padding-sm);
  margin-top: 0.5em;
  border-top: 1px solid var(--neutral-300);
  display: flex;
  gap: 1em;
}

.note-button {
  padding: var(--padding-md);
  width: 6rem;
  font-size: 0.9rem;
  border-radius: 0.5em;
  cursor: pointer;
}

.save {
  background-color: var(--blue-500);
  color: white;
}

.cancel {
  background-color: var(--neutral-300);
  color: black;
}

@media (min-width: 786px) {
  .create-note {
    display: block;
    grid-area: main;
    /* padding-bottom: 5rem; */
  }

  .note-inputs input {
    font-size: 0.91rem;
  }

  .note-content {
    margin: 0.5em 0;
  }
}
