.notes {
  display: block;
  padding: var(--padding-lg);
}

.new-note-btn {
  display: none;
}

.note-actions {
  display: block;
}

.new-note-icon {
  width: 60px;
  height: 60px;
  background-color: var(--blue-500);
  border-radius: 50%;
  padding: var(--padding-md);
  position: absolute;
  bottom: 125px;
  right: 1.5em;
  cursor: pointer;
}

.new-note-icon img {
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  .note-actions {
    display: block;
    background-color: white;
    color: black;
  }

  .new-note-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.6em var(--padding-md);
    font-size: 0.9rem;
    margin-top: 0.5em;
    background-color: var(--blue-500);
    color: white;
    width: 100%;
    gap: 0.5em;
    cursor: pointer;
    border-radius: 0.5em;
  }
}
