@media (min-width: 728px) {
  .note-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--padding-sm);
  }

  .action-button {
    margin: 0.5em 0 1em 0;
    cursor: pointer;
    width: 80%;
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    gap: 1em;
    padding: var(--padding-sm);
    border: 1px solid var(--neutral-300);
  }

  .action-button:hover .icon {
    filter: var(--icon-color-change);
  }
}
