.notes-list {
  /* background: red; */
}

.note {
  width: 100%;
  text-align: left;
  padding: var(--padding-sm) var(--padding-sm);
  /* padding-top: 0; */
  cursor: pointer;
  border-bottom: 1px solid var(--neutral-300);
}

.note:hover {
  background-color: var(--neutral-300);
  border-radius: 0.5em;
}

.note-active {
  border-radius: 0.5em;
  background-color: var(--neutral-200);
  border-bottom: none;
}

.tags-section {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem;
  padding-bottom: 0.7em;
}

.tags-section span {
  width: fit-content;
  padding: 0.2em 0.6em;
  font-size: 0.8rem;
  background-color: var(--neutral-300);
  border-radius: 0.4em;
}

.date {
  font-size: 0.8rem;
  color: var(--neutral-600);
}

.note-title {
  font-weight: 600;
  font-size: 1.1rem;
  color: var(--neutral-400);
  padding-bottom: var(--padding-sm);
}

@media (min-width: 768px) {
  .notes {
    grid-area: notes;
    border-right: 1px solid var(--neutral-300);
    padding: var(--padding-md);
  }

  .notes-list {
    margin-top: 0.2em;
    overflow-y: auto;
    height: 500px;
    padding-bottom: 1rem;
  }

  .note {
    width: 100%;
    color: black;
    margin-bottom: 0.3em;
  }
}
