.tags,
.folders {
  color: black;
  padding: 0.5em;
  margin-bottom: 1px solid black;
  /* margin-bottom: 10px solid red; */
}

.section-heading {
  display: none;
  color: var(--secondary);
}

.tag,
.folder {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: var(--padding-sm) var(--padding-md);
  font: 1.2rem;
  gap: 1rem;
  border-bottom: 1px solid var(--neutral-200);
  border-radius: 0;
  transition:
    background-color 0.2s ease,
    border-color 0.2s ease,
    border-radius 0.2s ease;
}

.tag:hover,
.folder:hover {
  background-color: var(--neutral-200);
  border-color: var(--neutral-300);
  border-radius: 0.5em;
}

.tag-list li:has(+ li:hover),
.folder-list li:has(+ li:hover) {
  border-color: transparent;
  transition:
    background-color 0.2s ease,
    border-color 0.2s ease,
    border-radius 0.2s ease;
}

.tag-list li:last-child,
.folder-list li:last-child {
  border-bottom: none;
}

@media (min-width: 768px) {
  .tags,
  .folders {
    flex: 1;
    overflow-y: auto;
    position: relative;
    padding: 0;
  }
  .section-heading {
    display: block;
    font-size: 0.9rem;
    padding: var(--padding-sm) var(--padding-md);
    background-color: var(--neutral-200);
    position: sticky;
    border-radius: 0.3em;
    top: 0;
    left: 0;
  }

  .tag,
  .folder {
    /* padding: var(--padding-sm) var(--padding-lg); */
    font: 0.9rem;
    border-bottom: none;
  }

  .tag:hover,
  .folder:hover {
    background-color: transparent;
  }
}
