.tags,
.folders {
  color: black;
}

.section-heading {
  display: none;
  color: var(--secondary);
}

.tag,
.folder {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: var(--padding-md);
  font: 1.2rem;
  gap: 1rem;
  border-bottom: 1px solid var(--neutral-200);
  border-radius: 0;
  margin: 0;
}

/* Small screens: hover active */
@media (max-width: 767px) {
  .tag:hover,
  .folder:hover {
    background-color: var(--neutral-200);
    border-color: var(--neutral-300);
    border-radius: 0.5em;
  }

  /* .tag-list li:has(+ li:hover), */
  /* .folder-list li:has(+ li:hover) { */
  /*   border-color: transparent; */
  /*   border-bottom-color: transparent; */
  /*   border: none; */
  /*   transition: */
  /*     background-color 0.2s ease, */
  /*     border-color 0.2s ease, */
  /*     border-radius 0.2s ease; */
  /* } */
}

.tag-list li:last-child,
.folder-list li:last-child {
  border-bottom: none;
}

/* .tag:hover, */
/* .folder:hover { */
/*   background-color: var(--neutral-200); */
/*   border-color: var(--neutral-300); */
/*   border-radius: 0.5em; */
/* } */

@media (min-width: 768px) {
  .tags,
  .folders {
    flex: 1;
    overflow-y: auto;
    position: relative;
    padding: 0;
  }
  .section-heading {
    display: block;
    font-size: 0.9rem;
    padding: var(--padding-sm) var(--padding-md);
    background-color: var(--neutral-200);
    position: sticky;
    border-radius: 0.3rem;
    top: 0;
    left: 0;
    z-index: inherit;
    margin-bottom: 0.1em;
  }

  .tag,
  .folder {
    padding: var(--padding-sm);
    font: 0.9rem;
    border-radius: 0.5em;
    border-bottom: none;
  }

  .tag:focus,
  .folder:focus {
    background-color: var(--neutral-200);
  }

  .tag:focus .arrow-right,
  .folder:focus .arrow-right {
    visibility: visible;
  }

  /* .tag:hover, */
  /* .folder:hover { */
  /*   background-color: transparent; */
  /* } */
}
