.tags,
.folders {
  color: black;
}

.section-heading {
  display: none;
  color: var(--secondary);
}

.tag,
.folder {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: var(--padding-md);
  font: 1.2rem;
  gap: 1rem;
  border-bottom: 1px solid var(--neutral-200);
  border-radius: 0;
  margin: 0;
}

/* Small screens: hover active */
@media (max-width: 767px) {
  .tag:hover,
  .folder:hover {
    background-color: var(--neutral-200);
    border-color: var(--neutral-300);
    border-radius: 0.5em;
  }
}

.tag-list li:last-child,
.folder-list li:last-child {
  border-bottom: none;
}

.empty-folder-message,
.empty-tag-message {
  color: var(--neutral-600);
  background-color: var(--neutral-200);
  border-radius: 0.375rem;
  padding: 0.5rem 0.75rem;
  color: var(--neutral-700);
  display: inline-block;
  margin-top: 0.5rem;
}

@media (min-width: 768px) {
  .tags,
  .folders {
    flex: 1;
    overflow-y: auto;
    position: relative;
    padding: 0;
  }
  .section-heading {
    display: block;
    font-size: 0.9rem;
    padding: var(--padding-sm) var(--padding-md);
    background-color: var(--neutral-200);
    position: sticky;
    border-radius: 0.3rem;
    top: 0;
    left: 0;
    z-index: inherit;
    margin-bottom: 0.1em;
  }

  .tags::-webkit-scrollbar,
  .folders::-webkit-scrollbar {
    width: 6px;
  }

  .tags::-webkit-scrollbar-track,
  .folders::-webkit-scrollbar-track {
    border-radius: 8px;
  }

  .tags::-webkit-scrollbar-thumb,
  .folders::-webkit-scrollbar-thumb {
    background-color: var(--neutral-300);
    border-radius: 8px;
  }

  .tags::-webkit-scrollbar-thumb:hover,
  .folders::-webkit-scrollbar-thumb:hover {
    background-color: var(--neutral-400);
  }

  .tag,
  .folder {
    padding: var(--padding-sm);
    font: 0.9rem;
    border-radius: 0.5em;
    border-bottom: none;
  }

  .tag:focus,
  .folder:focus {
    background-color: var(--neutral-200);
  }

  .tag:focus .arrow-right,
  .folder:focus .arrow-right {
    visibility: visible;
  }
}
