.tags {
  color: black;
  padding: 0.5em;
  margin-bottom: 1px solid black;
  /* margin-bottom: 10px solid red; */
}

.section-heading {
  display: none;
  color: var(--secondary);
}

.tag {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: var(--padding-md);
  font: 1.2rem;
  gap: 1rem;
  border-bottom: 1px solid var(--neutral-200);
  border-radius: 0;
  transition:
    background-color 0.2s ease,
    border-color 0.2s ease,
    border-radius 0.2s ease;
}

.tag:hover {
  background-color: var(--neutral-200);
  border-color: var(--neutral-300);
  border-radius: 0.5em;
}

.tag-list li:has(+ li:hover) {
  border-color: transparent;
  transition:
    background-color 0.2s ease,
    border-color 0.2s ease,
    border-radius 0.2s ease;
}

@media (min-width: 768px) {
  .tag {
    padding: var(--padding-sm);
    font: 0.9rem;
    border-bottom: none;

    /* padding: 0.5em; */
  }
  .tag:hover {
    background-color: transparent;
  }
  .section-heading {
    display: block;
    padding-bottom: var(--padding-md);
  }
}
