.view {
  width: 100%;
  /* padding: 0; */
  padding-bottom: 9vh;
  flex: 1;
  /* min-height: 0; */
  overflow-y: scroll;
  position: relative;
}

.new-note-icon {
  width: 50px;
  height: 50px;
  background-color: var(--blue-700);
  border-radius: 50%;
  padding: var(--padding-md);
  position: absolute;
  bottom: 125px;
  right: 1.5em;
}

@media (min-width: 768px) {
  .view {
    display: none;
  }
}
