@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
:root {
  --card: #ffffff;
  --card-foreground: #0e121b;
  --primary-background: #f8fafc;
  --secondary: #5e6e91;
  --secondary-foreground: #0f172a;
  --muted: #f1f5f9;
  --border: #e2e8f0;
  --red-500: #fb3748;
  --red-100: #ffd5d8;
  --input: #e2e8f0;
  --radius: 0.5rem;
  /* neutral colors */
  --neutral-950: #0e121b;
  --neutral-900: #191b25;
  --neutral-800: #232530;
  --neutral-700: #2b303b;
  --neutral-600: #525866;
  --neutral-500: #717784;
  --neutral-400: #232530;
  --neutral-300: #cacfd8;
  --neutral-200: #e0e4ea;
  --neutral-100: #f3f5f8;
  --neutral-50: #f5f7fa;
  --neutral-0: #ffffff;
  --blue-700: #2547d0;
  --blue-500: #335cff;
  --blue-50: #ebf1ff;
  /* padding */
  --padding-xs: 0.25em; /* 4px  */
  --padding-sm: 0.5em; /* 8px  */
  --padding-md: 1em; /* 16px */
  --padding-lg: 1.5em; /* 24px */
  --padding-xl: 2em; /* 32px */
  --padding-2xl: 3em; /* 48px */
  --icon-color-change: invert(37%) sepia(74%) saturate(3294%) hue-rotate(222deg)
    brightness(95%) contrast(101%);
}

html {
  box-sizing: border-box;
  font-size: 16px;
  overflow-x: hidden;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  width: 100%;
  height: 100vh;
  background-color: var(--primary-background);
  overflow: hidden;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
select,
textarea,
button {
  display: block;
  width: 100%;
  outline: none;
  border: none;
  background-color: transparent;
}

button {
  background-color: transparent;
}
